.new-keyword-highlight,
.extends-keyword-highlight {
    // color: rgb(0, 110, 255);
    color: lightskyblue;
}

.object-type-highlight {
    color: rgb(42, 230, 38);
}

.first-layer-bracket-highlight {
    color: orange;
}

.txt-bisque {
    color: bisque;
    text-decoration: inherit;
}

.desc-highlight {
    color: darkorange;
}
